<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_main">

<th:block layout:fragment="title">픽톡(PicTalk) | 채팅</th:block>
<th:block layout:fragment="js">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- BootStrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Spotlight JS -->
    <script src="/chat/spotlight/spotlight.bundle.js"></script>


</th:block>
<th:block layout:fragment="js-end">
    <script src="/chat/js/chat.js"></script>
    <script src="/chat/js/chat-modal.js"></script>
    <script src="/chat/js/chat-profile-modal.js"></script>
    <script src="/chat/js/chat-context.js"></script>
</th:block>

<th:block layout:fragment="css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">

    <!-- Chat Module CSS -->
    <link rel="stylesheet" href="/chat/css/chat-animation.css"/>
    <link rel="stylesheet" href="/chat/css/chat.css"/>
    <link rel="stylesheet" href="/chat/css/chat-modal.css"/>
</th:block>

<section layout:fragment="content" ng-controller="chatController" class="content-chat-container">
    <nav th:replace="~{app/chat/fragment/nav_chat :: nav}"></nav>
    <div class="app-wrapper">
        <!----------------------- 채팅방 목록 컨테이너 ------------------------------>
        <div class="chat-sidebar-container">
            <div ng-show="isSelectedNavBar(0)" th:replace="~{/app/chat/fragment/fragment_chat_list :: chat-sidebar}"></div>
            <div ng-show="isSelectedNavBar(1)" th:replace="~{/app/chat/fragment/fragment_chat_my_list :: chat-sidebar}"></div>
            <div ng-show="isSelectedNavBar(2)" th:replace="~{/app/chat/fragment/fragment_chat_configuration :: chat-sidebar}"></div>
        </div>

        <!----------------------- 채팅방 컨테이너 ------------------------------>
        <div id="chat-container">
            <div class="loading connecting hidden">
                <img src="/img/loading.gif" height="36"/>
                <p>채팅방에 입장중입니다...</p>
            </div>
            <div id="chat-page" class="hidden">
                <div class="chat-container">
                    <div class="chat-header">
                        <img ng-src="{{currentRoom.img}}" onerror="this.src='/img/no-image.png'"/>
                        <div class="chat-header-info">
                            <h4>{{currentRoom.title}}</h4>
                            <p>{{currentRoom.description}}</p>
                        </div>

                        <div class="chat-header-menu">
                            <span ng-click="onClickToggleMenu()">
                                <i class="fas fa-bars"></i>
                            </span>
                        </div>
                    </div>
                    <div class="chat-notification" ng-show="currentRoom" ng-class="currentRoom.chatRoomConfig.isHideNotification ? 'hide' : ''" ng-cloak>
                        <span class="chat-notification-content">
                            <textarea ng-show="currentRoom.chatRoomConfig.isEditNotification" ng-model="currentRoom.notification" maxlength="300" rows="9"></textarea>
                            <p ng-show="!currentRoom.chatRoomConfig.isEditNotification" ng-bind="getNotification(currentRoom)" ng-style="styleNotificationText(currentRoom)"></p>
                        </span>
                        <span class="chat-notification-buttons">
                            <span tooltip-bottom="수정" ng-cloak ng-click="onClickEditNotification(currentRoom)" ng-show="me.id === currentRoom.managerId" class="circle-button" ng-class="currentRoom.chatRoomConfig.isEditNotification ? 'clicked' : ''">
                                <i class="far fa-edit"></i>
                            </span>
                            <span tooltip-bottom="더보기" class="circle-button" ng-click="onClickMoreNotification(currentRoom)" ng-class="currentRoom.chatRoomConfig.isMoreNotification ? 'clicked' : ''">
                                <i ng-show="!currentRoom.chatRoomConfig.isMoreNotification" class="fas fa-angle-down"></i>
                                <i ng-show="currentRoom.chatRoomConfig.isMoreNotification" class="fas fa-angle-up"></i>
                            </span>
                            <span tooltip-bottom="숨기기" class="circle-button" ng-click="currentRoom.chatRoomConfig.isHideNotification = true;">
                                <i class="fas fa-times"></i>
                            </span>
                        </span>
                    </div>
                    <ul id="messageArea" drop-item>

                    </ul>
                    <div class="chat-input-container">
                        <div ng-show="config_chat.ui.visibleImageInput" class="chat-input-image-container slide-up">
                            <div class="chat-input-images" h-scroll>
                                <span ng-class="isSelectedImage(image) ? 'selected' : ''" ng-click="onClickSelectImage(image)" ng-repeat="image in me.album | limitTo: 20">
                                    <img ng-src="{{image.url}}"/>
                                    <div class="image-cover"></div>
                                </span>
                            </div>
                            <div class="chat-input-buttons">
                                <span tooltip-top="전체보기" class="circle-button" ng-click="onClickOpenSidebar(1)">
                                    <i class="fas fa-th-large"></i>
                                </span>
                            </div>
                        </div>
                        <form class="messageForm" name="messageForm">
                            <div class="input-group clearfix">
                                <input type="text" id="chat-message" ng-model="config_chat.tempMessage" placeholder="메시지 입력..." autocomplete="off" minlength="1" maxlength="200"/>
                                <div class="form-buttons">
                                    <button tooltip-top="메시지 전송" ng-show="!config_chat.ui.visibleImageInput" type="submit" ng-click="sendMessage($event)" ng-class="isValidationSendMessage() ? 'circle' : 'circleSub'">
                                        <i class="fas fa-paper-plane"></i>
                                    </button>
                                    <button tooltip-top="이미지 전송" ng-show="config_chat.ui.visibleImageInput" type="submit" ng-click="sendSelectedImageMessage($event)" ng-class="isValidationSendImageMessage() ? 'circle' : 'circleSub'">
                                        <i class="fas fa-upload"></i>
                                    </button>
                                    <button tooltip-top="이미지 서랍" type="button" ng-click="onClickOpenImageInput()" ng-class="config_chat.ui.visibleImageInput ? 'circle' : 'circleSub'">
                                        <i class="fas fa-images"></i>
                                    </button>
                                    <button tooltip-top="이미지 첨부" class="circleSub" ng-model="file" type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg"
                                            ngf-select="sendImageFileMessage($event, this)"
                                            ngf-pattern="'image/*'"
                                            ngf-accept="'image/*'"
                                            ngf-max-size="5000KB">
                                        <i class="fas fa-paperclip"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!----------------------- 채팅방 정보 컨테이너 ------------------------------>
        <div class="chat-sidebar-container chat-sidebar-tab hidden">
            <div ng-cloak ng-show="isSelectedSidebar(0)" th:replace="~{/app/chat/fragment/fragment_chat_info :: chat-sidebar}"></div>
            <div ng-cloak ng-show="isSelectedSidebar(1)" th:replace="~{/app/chat/fragment/fragment_chat_album :: chat-sidebar}"></div>
            <div ng-cloak ng-show="isSelectedSidebar(2)" th:replace="~{/app/chat/fragment/fragment_chat_storage :: chat-sidebar}"></div>
        </div>

        <!----------------------- 채팅방 컨텍스트 메뉴 ------------------------------>
        <ul id="chat-message-context" class="dropdown-menu chat-context-menu" role='menu'>
            <li ng-cloak ng-show="selectedMessage.type === 'IMAGE'" ng-click="onClickSaveSelectedImage($event)">이미지 보관</li>
            <li ng-click="onClickReportMessage()">메시지 신고</li>
            <li ng-click="onClickHideMessage()">삭제</li>
        </ul>
    </div>
</section>