
/*관리자페이지 헤더*/
.manager{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.manager-header{
    margin-top: 15px;
    padding-right: 85px;
    margin-left: 70px;
    width: 100%;
    position: absolute;
    z-index: 1;
    text-align: right;
    /*filter: alpha(opacity=80);*/
}

.manager-title{
    width: 100%;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 16px;
}

.manager-content{
    /*min-width: 1000px;*/
 }

/*row 꽉차면 밀려남*/
.manager-box-content{
    display: flex;
    flex-wrap: wrap;
}

.manager-layout{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 70px;
}

#title-font{
    font-size: 35px;
    font-weight: 1000;
}


.m-lr-40{
    padding-left: 40px;
    padding-right: 40px
}

.account-table{
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    /*width: 100%;*/
    margin-left: 15px;
    margin-right: 15px;
}

.card-box{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.badge{
    font-size: 120%;
}

.rounded-circle-profile{
    width: 25px;
    height: 25px;
}


.on {
    color: #01DF3A;
}

.off{
    color: #D8D8D8;
}

.ban{
    color: #FF0000;
}

.delete{
    color: #000000;
}


/*Info*/

.info-content{
    list-style: none;
    padding: 0 20px 0 20px;
}

.info-content > li {
    text-align: center;
    margin-bottom: 15px;
}

.info-profile {
    /*position: relative;*/
    max-width: 120px;
    margin: 20px auto;
}

.profile-preview {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.profile-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.zoom-effect:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.profile-manu{
    background-color:RGBA(0,0,0,0.5) ;
    position:absolute;
    z-index:100;
    display: none;
    right: 0;
    padding-top: 40px;
}

.info-profile:hover .profile-manu{display: inline;}


/*Report*/
.zoom {
    overflow: hidden;
    /*padding: 8% 10px;*/
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 5px 0px #e5e5e5;
    box-sizing: border-box;
    border-radius: 3px;
    transition: transform .3s;
    height: 20px;
    /*height: 200px;*/
    /*margin: 2%;*/
    display:inline-block; /* 가로로 배치 */
}
.zoom:hover {
    -ms-transform: scale(10);
    -webkit-transform: scale(10);
    transform: scale(10);
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


/*file관리*/

.manager-sidebar{
    position: relative;
    display: inline-block;
    height: calc(100%);
    margin-top:40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    min-width: 250px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 38px -12px rgba(0,0,0,.15);
}

.manager-side-container{
    flex: 1;
    /*margin-top:30px;*/
    margin-left: 10px;
    margin-right: 10px;
    height: calc(100%);
    min-width: 400px;
}


.group-card-box{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}


.group-profile-preview {
    width: 100%;
    max-width: 140px;
    height: 140px;
    position: relative;
    border-radius: 10%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.photo-group{
    /*width: 100%;*/
    /*height: 100%;*/
    margin-bottom: 15px;
}

.checkbox-size{
    width: 15px;
    height: 15px;
}

/*채팅방 그룹 정렬*/
@media (min-width: 800px){
    .cmd-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px){
    .cxl-3 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.cmd-6, .cxl-3{
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}


.file-zoom-effect:hover {
    /*-ms-transform: scale(1.05);*/
    /*-webkit-transform: scale(1.05);*/
    /*transform: scale(1.05);*/
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
}

#file-title-hidden, .file-title-hidden{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.alarm-list:hover {
    background-color: #f3f3f3;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

alarm-modal {
    -webkit-box-shadow: 0px 0px 14px 1px rgba(170, 170, 170, 0.75);
    -moz-box-shadow: 0px 0px 14px 1px rgba(170, 170, 170, 0.75);
    box-shadow: 0px 0px 14px 1px rgba(170, 170, 170,0.75);
}






.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}