<div class="chat-modal-header">
    <i class="far fa-comment-dots"></i><h3>대화방 프로필 설정</h3>
    <span class="circle-button chat-modal-button" ng-click="cancel()"><i class="fas fa-times"></i></span>
</div>
<div class="chat-modal-content-container">
    <ul class="chat-add-info">
        <li>
            <div class="avatar-upload">
                <div class="avatar-edit">
                    <!--                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>-->
                    <input ng-model="file" type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg, .gif"
                           ngf-select="readImageURL(this)"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"
                           ngf-max-size="5000KB"/>
                    <label for="imageUpload"><i class="fas fa-pencil-alt"></i></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" ng-init="renderAvatarImage()">
                    </div>
                </div>
            </div>
            <div class="avatar-selector">
                <span ng-repeat="avatar in defaultAvatars" ng-click="onClickSelectAvatar(avatar)"><img ng-src="{{avatar}}" alt="avatar"/></span>
            </div>
        </li>
        <li>
            <h5><i class="fas fa-signature"></i> 닉네임</h5>
            <div class="chat-add-input-container">
                <input type="text" id="input-title" ng-model="nickname" maxlength="16"/>
                <span class="glyphicon glyphicon-remove" ng-show="nickname.length > 0" ng-click="clearNickname()"></span>
            </div>

        </li>
        <li ng-show="room.private">
            <h5><i class="fas fa-key"></i> 접속코드</h5>
            <div class="chat-add-input-container">
                <input type="password" id="input-key" ng-model="accessKey" maxlength="20"/>
                <span class="glyphicon glyphicon-remove" ng-show="accessKey.length > 0" ng-click="clearAccessKey()"></span>
            </div>
        </li>
    </ul>
</div>
<div class="chat-modal-footer">
    <button id="chat-add-button" class="primary" type="submit" ng-click="ok()">입장</button>
</div>