<div class="chat-modal-header">
    <h3><i class="far fa-comment-dots"></i> 대화방 생성</h3>
    <span class="chat-modal-button" ng-click="cancel()"><i class="fas fa-times"></i></span>
</div>
<div class="chat-modal-content-container">
    <ul class="chat-add-info">
        <li>
            <div class="avatar-upload">
                <div class="avatar-edit">
<!--                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>-->
                    <input ng-model="file" type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg"
                           ngf-select="readImageURL(this)"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"
                           ngf-max-size="500KB"/>
                    <label for="imageUpload"><i class="fas fa-pencil-alt"></i></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url(/img/no-image.png);">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <h5><i class="fas fa-heading"></i> 방이름</h5>
            <div class="chat-add-input-container">
                <input type="text" id="input-title" ng-model="newChatRoom.title" maxlength="30" required/>
                <label class="input-invalid"  for="input-title" ng-show="!newChatRoom.title">필수 입력입니다</label>
                <span class="glyphicon glyphicon-remove" ng-show="newChatRoom.title.length > 0" ng-click="clearTitle()"></span>
            </div>

        </li>
        <li>
            <h5><i class="fas fa-align-left"></i> 설명</h5>
            <div class="chat-add-input-container">
                <input type="text" ng-model="newChatRoom.description" maxlength="50" required/>
                <span class="glyphicon glyphicon-remove" ng-show="newChatRoom.description.length > 0" ng-click="clearDescription()"></span>
            </div>
        </li>
        <li>
            <h5><i class="fas fa-hashtag"></i> 해시 태그</h5>
            <div class="chat-add-input-container">
                <input type="text" ng-keypress="onKeyPressAddTag($event)" ng-model="inputTempTag" placeholder="태그 입력후 Enter (최대 5개)" maxlength="16"/>
            </div>
            <ul class="chat-add-tag-list">
                <li ng-repeat="tag in newChatRoom.category track by $index"># {{tag}} <span class="glyphicon glyphicon-remove" ng-click="clearTag(tag)"></span></li>
            </ul>
        </li>
        <li>
            <h5><i class="fas fa-sliders-h"></i> 설정</h5>
            <div class="chat-add-config">
                <h6>비공개</h6>
                <input class="tgl tgl-ios" id="cb1" type="checkbox" ng-model="newChatRoom.type"/>
                <label class="tgl-btn" for="cb1"></label>
            </div>
            <div class="chat-add-config">
                <h6>이미지로만 대화</h6>
                <input class="tgl tgl-ios" id="cb2" type="checkbox" ng-model="newChatRoom.private"/>
                <label class="tgl-btn" for="cb2"></label>
            </div>
            <div class="chat-add-config">
                <h6>최대 인원</h6>
                <select ng-change="newChatRoom.max = selectedMaxChatRoomMemberCountOption.value" ng-model="selectedMaxChatRoomMemberCountOption" ng-options="data as data.name for data in maxChatRoomMemberCountOption" name="account-table_length" aria-controls="account-table" class="custom-select custom-select-sm form-control form-control-sm">

                </select>
            </div>
        </li>
    </ul>
</div>
<div class="chat-modal-footer">
    <button id="chat-add-button" class="primary" type="submit" ng-click="ok()">생성</button>
</div>