<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="header-group" ng-controller="alarmCtrl">
        <ul>
            <span id="logo-main">
                <a src="/"><img src="/img/logo/logo.png" alt="logo_pictalk" width="32" height="32"/></a>
            </span>
            <li style="flex:1;"></li>

            <li><a class="header-button" ng-click="notificationButton()"><i class="far fa-bell"></i>
                <span style="position: absolute; font-size: 40%; top: 5px; left: 15px; " class="badge badge-danger" ng-show="alarms.length!==0">{{alarms.length}}</span>
            </a>

                <style>
                    /*#alarm::-webkit-scrollbar {*/
                    /*    display: none;*/
                    /*}*/

                </style>


                <div id="notification" class="my-3 p-3 bg-white rounded shadow-sm select-none alarm-modal" style="display: none; position: absolute; top: 25px; right: 90px; z-index: 100; width: 320px; height: 380px; overflow: hidden; border: 1px solid rgba(0,0,0,.15);">
                    <div class="border-bottom border-gray pb-2 mb-0" style="height: 35px;">
                        <h6 style="display: inline; float: left;">Notification</h6>
                        <a href="#" style="float: right;" ng-click="alarm_Allclear()"><i class="fas fa-check" style="color: lightseagreen;"></i></a>
                    </div>

                    <div class="chat-sidebar-content-container" id="alarm" style="height: 300px; width: 100%;">
                        <div class="media text-muted pt-3 alarm-list" ng-repeat="alarm in alarms" ng-click="alarm_clear(alarm)">
                            <img src="/img/logo/logo.png" ng-src="{{alarm.profile}}" style="width: 35px; height: 35px;">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">{{alarm.name}}</strong>
                                    <small>{{alarm.time}} min ago</small>
                                </div>
                                <span class="d-block">{{alarm.content}}</span>
                            </div>
                        </div>
                    </div>
<!--                    <small sa class="d-block text-right mt-3">-->
<!--                        <a href="#">더보기</a>-->
<!--                    </small>-->
                </div>

            <li>
                <a ng-show="!me" class="header-button" th:href="@{/signin}">
                    <i  class="fas fa-power-off"></i>
                </a>
                <a ng-cloak ng-show="me" class="header-button" th:href="@{/signin}">
                        <span id="user-avatar-cover">
                            <img ng-cloak id="user-avatar" ng-show="me" ng-src="{{me.avatar}}" onerror="this.style.display='none'" alt="user_avatar"/>
                        </span>
                </a>
            </li>
            <li></li>

        </ul>
    </div>
</header>
</html>