<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:nav th:fragment="nav" ng-controller="alarmCtrl">
    <nav>
        <div class="nav-group">
            <ul>
                <span id="logo-main">
                    <a th:href="@{/console}"><img src="/img/logo/logo.png" alt="logo_pictalk" width="48" height="48"/></a>
                </span>
                <li><a tooltip-right="대시" class="nav-button" th:classappend="${#httpServletRequest.requestURI.contains('dashboard')} ? 'selected' : ''" th:href="@{/console/dashboard}"><i class="fas fa-chart-bar"></i></a></li>
                <li><a tooltip-right="계정" class="nav-button" th:classappend="${#httpServletRequest.requestURI.contains('account')} ? 'selected' : ''" th:href="@{/console/account}"><i class="far fa-address-card"></i></a></li>
                <li><a tooltip-right="파일" class="nav-button" th:classappend="${#httpServletRequest.requestURI.contains('file')} ? 'selected' : ''" th:href="@{/console/file}"><i class="far fa-images"></i></a></li>
                <li style="flex:1;"></li>

                <li><a class="nav-button" ng-click="showHide=!showHide"><i class="far fa-bell"></i>
                    <span style="position: absolute; font-size: 40%; right:8px; top: 5px; " class="badge badge-danger">4</span>
                </a>

        <style>
            #alarm::-webkit-scrollbar {
                display: none;
            }
        </style>

                    <div  ng-show="showHide" class="my-3 p-3 bg-white rounded shadow-sm" style="position: absolute; bottom: 110px; left: 75px; z-index: 100; width: 320px; height: 400px; overflow: hidden">
                        <div class="border-bottom border-gray pb-2 mb-0" style="height: 35px;">
                            <h6 style="display: inline; float: left;">알림</h6>
                            <a href="#" style="float: right;" ng-click="alarm_Allclear()">Clear</a>
                        </div>


                        <div id="alarm" style="height: 300px; width: 100%; overflow-y: scroll;">
                            <div class="media text-muted pt-3 alarm-list" ng-repeat="alarm in alarms" ng-click="alarm_clear(alarm)">
                                <img src="/img/logo/logo.png" ng-src="{{alarm.profile}}" style="width: 35px; height: 35px;">
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <div class="d-flex justify-content-between align-items-center w-100">
                                        <strong class="text-gray-dark">{{alarm.name}}</strong>
                                        <small>{{alarm.time}} min ago</small>
                                    </div>
                                    <span class="d-block">{{alarm.content}}</span>
                                </div>
                            </div>
                        </div>
                        <small sa class="d-block text-right mt-3">
                            <a href="#">더보기</a>
                        </small>
                    </div>




                </li>

                <li>
                    <a ng-show="!me" tooltip-right="로그인" class="nav-button" th:classappend="${#httpServletRequest.requestURI.contains('signin')} ? 'selected' : ''" th:href="@{/signin}">
                        <i  class="fas fa-power-off"></i>
                    </a>
                    <a ng-show="me" class="nav-button" th:href="@{/signin}">
                        <img id="nav-user-avatar" ng-show="me" ng-src="{{me.avatar}}" alt="user_avatar"/>
                    </a>
                </li>
                <li></li>

            </ul>
        </div>
    </nav>

</th:nav>
</html>