<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:nav th:fragment="nav">
    <nav>
        <div class="nav-group">
            <ul>
                <span id="logo-main">
                    <a href="/"><img src="/img/logo/logo.png" alt="logo_pictalk" width="48" height="48"/></a>
                </span>
                <li><a href="/console">대시</a></li>
                <li><a href="/console/account">계정</a></li>
                <li><a href="/console/file">파일</a></li>
            </ul>
        </div>
    </nav>
</th:nav>
</html>