a{
    display: inline-block;
}
b{
    display: block;
    padding: 10px;
}
button{
    padding: 5px 10px;
}
.image{
    width: 30vw;
    max-width: 300px;
    margin: 1vh 1vw;
}
.image{
    display: inline-block;
    height: 20vw;
    max-height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spotlight.image{
    cursor: pointer;
}