<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<th:block layout:fragment="title">픽톡(PicTalk) | 관리자</th:block>
<th:block layout:fragment="js">
    <!--추가 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="/management/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/management/js/dataTables.bootstrap4.min.js"></script>

    <script src="/management/js/account.js"></script>
    <script src="/management/js/info.js"></script>

    <!-- BootStrap JS -->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

    <!--추가 JS 끝-->
</th:block>
<th:block layout:fragment="js-end">

</th:block>


<th:block layout:fragment="css">
    <!--추가 CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/management/css/management.css"/>
    <!--추가 CSS 끝-->
</th:block>

<section layout:fragment="content" ng-controller="accountCtrl" class="manager-layout">

    <!-- Start Content-->
    <div class="manager">

        <div class="manager-title">
            <div id="title-font">계정관리</div>
        </div>

        <div class="manager-content">

            <div class="account-table">
                <table id="account-table" class="table table-striped table-bordered table-hover text-center" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>이메일</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>성별</th>
                        <th>가입일</th>
                        <th>최근신고날짜</th>
                        <th>신고횟수</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in accounts" ng-click="openModal(account)">
                        <td>{{account.no}}</td>
                        <td>{{account.email}}</td>
                        <td>{{account.name}}</td>
                        <td>{{account.nickname}}</td>
                        <td>{{account.gender}}</td>
                        <td>{{account.joinDate}}</td>
                        <td>{{account.reportDate}}</td>
                        <td>{{account.reportCount}}</td>
                        <td><i class="fas fa-circle {{account.connect}}"></i></td>
                    </tr>

                    </tbody>
                    <th>No</th>
                    <th>이메일</th>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>성별</th>
                    <th>가입일</th>
                    <th>최근신고날짜</th>
                    <th>신고횟수</th>
                    <th>상태</th>
                </table>
            </div>

        </div>
    </div>


</section>

