.wrap{
    width: 100%;
    min-height: 800px;
    /*position: relative;*/
    display: flex;
}
.left_wrap{
    width: 20%;
    height: 800px;
    background-color: aliceblue;
    position: relative;
    margin-left: 15px;
    display: inline-block;

}

.right_wrap{
    width: 100%;
    /*top: 0px;*/
    /*min-width: 800px;*/
    /*position: absolute;*/
    margin-top: 30px;
    min-height: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    /*margin-left: 250px;*/
}
.left_nav li{
    width: 100%;
}
.left_wrap .nav li{
    width: 100%;
    line-height: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}
.left_wrap .nav li a{
    text-decoration:none;
    margin-left: 10px;
    color: #333333;
    font-size: 1em;
    display:block;width:100%;

}
.left_wrap .nav li:hover{
    background-color: #448aff;


}
.left_wrap .nav li a:hover{
    color: white;
}
.mypage-sidebar-container{
    position: relative;
    display: inline-block;
    min-height: calc(100% - 60px);
    margin-top:30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 18%;
    min-width: 230px;
    max-width: 230px;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 38px -12px rgba(0,0,0,.15);
}
.active{
    background-color: #eeeeee;
}
.noneMessage{
    width: 100%;
    text-align: center;
    display: table;
    height: 700px;

}
.noneMessage #message,i{
    display: table-cell;
    vertical-align: middle;
    color: #bdbdbd;
    font-size: 1.3em;
}
.noneMessage i{
    display: block;
    font-size: 3em;
}
.personalSection{
    width: 100%;
}
.wrap > section { width:100%; }
