.wrap{
    width: 800px;
    min-height: 800px;
    position: relative;
}
.left_wrap{
    width: 20%;
    height: 800px;
    background-color: aliceblue;
    position: relative;
    margin-left: 15px;
}

.right_wrap{
    width: 800px;
    min-height: 100px;
    top: 0px;
    left: 200px;
    position: absolute;

}

li{
    width: 100%;
}
.explain{
    font-size: small;
    color: #9e9e9e;
}
.btnWrap{
    float: right;
}
.needs-validation{
    clear: both;
}
.img-circle{
    border-radius: 50%;
    width: 100px;
}
.custom-file{
    margin-top: 30px;
    margin-left: 10px;
}

.has-success{
    clear: both;
}
.lastname{
    float: left;
}

.nickName{
    clear: both;
}
.mb-3 .ng-valid{
    border: solid 1px green;
}
.mb-3 .ng-invalid.ng-dirty{
    border: solid 1px red;
}
.warning{
    color: red;
}