/** 폰트 영역 **/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic+Coding&display=swap'); /* Lato & Nanum Gothic Coding*/

/********** 공통 영역 **********/
html {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(231, 236, 241) !important;
    font-family: 'Lato', 'Nanum Gothic Coding', sans-serif !important;
}
body.dark{
    background-color: rgb(25, 25, 25) !important;
    color: rgb(241,246,251);
}

/********** 레이아웃 영역 **********/
div.layout-main{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

/*********** 헤더 영역 ***********/
div.layout-main header{
    background: rgba(255,255,255,.8);
    width: 100%;
    display: flex;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    height: 40px;
    border-bottom:1px solid rgb(231, 236, 241);
    box-shadow: 0 1px 3px 0 rgba(231,236,241,0.3);
}
body.dark > div.layout-main header{
    background: rgba(30,30,30,.8);
    border-bottom: 1px solid rgb(25, 25, 25);
    box-shadow: 0 1px 3px 0 rgba(36,36,41,0.3);

}
div.header-group {
    width: 100%;
    height:inherit;
}

div.header-group ul{
    height: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

div.header-group li{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: inherit !important;
}

div.header-group .header-button{
    text-decoration: none;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    position: relative;
    font-size: 12px;
    color: lightseagreen !important;
}
div.header-group .header-button:hover{
    filter: contrast(200%);
}
div.header-group .selected{
    filter: contrast(200%);
}

div.header-group .header-button i{
    margin: 0 6px 0 0 !important;
    color: lightseagreen !important;
    font-size:18px !important;
    vertical-align: middle !important;
}
div.header-group .selected i{
    animation: scaleInfinite 3s infinite;
}
div.header-group #user-avatar-cover{
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    width:100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
div.header-group #user-avatar{
    border-radius: 50%;
    object-fit: cover;
    width:100%;
    height: 100%;
    text-indent:-9999px;
}

/********** 네비게이션 영역 **********/
div.layout-main nav{
    height: 100%;
    width:70px;
    display: inline-block;
    background: rgba(255,255,255,.8);
    box-shadow: 1px 0 3px 0 rgba(231,236,241,0.3);
    position: fixed;
    z-index: 1;
}
body.dark > div.layout-main nav{
    background: rgba(30,30,30,.8);
    box-shadow: 1px 0 3px 0 rgba(25,25,25,0.3);
}

div.layout-main #logo-main{
    display: flex;
    border-radius: 50%;
    margin:0 auto;
    padding: 0 22px 0 22px;
    align-items: center;
}
div.layout-main #logo-main a{
    margin:0 auto;
    text-align: center;

}
div.layout-main #logo-main img{
    transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}
div.layout-main #logo-main a:hover img{
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
}

div.nav-group {
    height: 100%;
    width:inherit;
}

div.nav-group ul{
    height: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.nav-group li{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.nav-group .nav-button{
    text-decoration: none;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    position: relative;
}
div.nav-group .nav-button:hover{
    background-color: rgba(65,105,225,0.1);
}
div.nav-group .selected{
    background-color: rgba(65,105,225,0.1);
}

div.nav-group .nav-button i{
    margin: 15px 0 0 0 !important;
    color: lightseagreen !important;
    font-size:18px !important;
}

div.loading {
    position: absolute;
    z-index: 9999;
    margin:0 auto;
    display: inline-block;
    left: calc(50% - 32px);
    top:50%;
}
div.loading img{

}
/********* 팝업 영역 ***********/
div.common-alert{
    position: absolute;
    opacity: 0;
    bottom: 15px;
    right: -300px;
    height: 50px;
    padding: 10px;
    width: auto;
    max-width: 300px;
    transition: all .3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 10px 10px 1px rgba(0,0,0,0.1);

    align-items: center;
    cursor: pointer;
    display: flex;
}
div.common-alert.on{
    right: 15px;
    opacity: .8;
}
div.common-alert span{
    font-size: 14px;
    display: flex;
    margin:0 auto;
}
div.common-alert i{
    color: #000 !important;
    font-size: 20px !important;
    margin: 0 10px 0 0 !important;
}
div.common-alert:hover{
    background-color: rgba(255,255,255,1);
}


/********** 콘텐츠 영역 **********/
div.content{
    display: flex;
    flex: 1;
    z-index: 0;
    margin-top:40px;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
}

div.content .app-wrapper{
    margin-left: 70px;
    display: flex;
    flex: 1;
}


/********** 툴팁 ****************/

[tooltip-top]:hover {
     position: relative;
 }

[tooltip-top]:after {
    -webkit-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    transition: top .5s ease-in-out, opacity .3s ease-in-out;

    background-color: royalblue;

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #FFFFFF;
    font-size: 12px;
    padding: 7px 12px;
    position: absolute;
    line-height: initial !important;
    width: auto !important;
    min-width: 50px !important;
    max-width: 300px !important;
    word-wrap: break-word !important;
    white-space:nowrap;
    margin:0 auto !important;

    z-index: 9999;

    opacity: 0;
    top: -90%;
    left: 9999px;
    content: attr(tooltip-top);
}

[tooltip-top]:hover:after {
    top: -120%;
    left: 0;
    opacity: .7;
}

[tooltip-bottom]:hover {
    position: relative;
}

[tooltip-bottom]:after {
    -webkit-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    transition: top .5s ease-in-out, opacity .3s ease-in-out;

    background-color: royalblue;

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #FFFFFF;
    font-size: 12px;
    padding: 7px 12px;
    position: absolute;
    line-height: initial !important;
    width: auto !important;
    min-width: 50px !important;;
    max-width: 300px !important;
    word-wrap: break-word !important;
    margin:0 auto !important;
    white-space:nowrap;

    z-index: 9999;

    opacity: 0;
    top: 90%;
    left: 9999px;
    content: attr(tooltip-bottom);
}

[tooltip-bottom]:hover:after {
    top: 120%;
    left: 0;
    opacity: .7;
}


[tooltip-right]:hover {
    position: relative;
}

[tooltip-right]:after {
    -webkit-transition: left .5s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: left .5s ease-in-out, opacity .3s ease-in-out;
    transition: left .5s ease-in-out, opacity .3s ease-in-out;

    background-color: royalblue;

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #FFFFFF;
    font-size: 12px;
    padding: 7px 12px;
    position: absolute;
    line-height: initial !important;
    width: auto !important;
    min-width: 50px !important;;
    max-width: 300px !important;
    word-wrap: break-word !important;
    margin:0 auto !important;
    white-space:nowrap;

    z-index: 9999;

    opacity: 0;
    top: 9999px;
    left: 90%;
    content: attr(tooltip-right);
}

[tooltip-right]:hover:after {
    top: 0;
    left: 120%;
    opacity: .7;
}


/********** IOS 스타일 토글 ************/
.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 2.5em;
    height: 1.3em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 60%;
    height: 140%;
    top: -25%;
}
.tgl + .tgl-btn:after {
    left: -5%;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}
.tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 3em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}
body.dark .tgl-ios + .tgl-btn{
    background: #505050;
    border: 1px solid #404040;
}
.tgl-ios + .tgl-btn:after {
    border-radius: 3em;
    background: #fbfbfb;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
}
.tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 3em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
    padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
    background: #86d993;
}
.tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -.8em;
}


/********* Step Progress Bar   *********/
.config-steps-container {

}
.config-steps-container .config-steps {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 20px;
}
.config-steps-container .config-step {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 2px solid #ACACA6;
    border-radius: 50%;
    transition: background .3s, width .3s, height .3s;
    cursor: pointer;
}
.config-steps-container .config-step.selected {
    border: 2px solid lightseagreen;
    width: 15px;
    height: 15px;
}
.config-steps-container .config-step.completed {
    border: 2px solid lightseagreen;
    background: lightseagreen;
}
.config-steps-container .config-steps-line {
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ACACA6;
    opacity: .3;
    z-index: 0;

}