/** 폰트 영역 **/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic+Coding&display=swap'); /* Lato & Nanum Gothic Coding*/

/********** 공통 영역 **********/
html {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/********** 레이아웃 영역 **********/
div.layout-main{
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    background-color: rgb(231, 236, 241);
    font-family: 'Lato', 'Nanum Gothic Coding', sans-serif !important;
}

/*********** 헤더 영역 ***********/
div.layout-main header{
    background: #fff;
    width: 100%;
    display: flex;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    height: 40px;
    border-bottom:1px solid rgb(231, 236, 241);
}
div.header-group {
    width: 100%;
    height:inherit;
}

div.header-group ul{
    height: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

div.header-group li{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: inherit !important;
}

div.header-group .header-button{
    text-decoration: none;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    position: relative;
    font-size: 12px;
    color: lightseagreen !important;
}
div.header-group .header-button:hover{
    filter: contrast(200%);
}
div.header-group .selected{
    filter: contrast(200%);
}

div.header-group .header-button i{
    margin: 0 6px 0 0 !important;
    color: lightseagreen !important;
    font-size:18px !important;
}
div.header-group #user-avatar-cover{
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    width:100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
div.header-group #user-avatar{
    border-radius: 50%;
    object-fit: cover;
    width:100%;
    height: 100%;
    text-indent:-9999px;
}

/********** 네비게이션 영역 **********/
div.layout-main nav{
    height: 100%;
    width:70px;
    display: inline-block;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

div.layout-main #logo-main{
    display: flex;
    border-radius: 50%;
    margin:0 auto;
    padding: 0 15px 0 15px;
}
div.layout-main #logo-main a{
    margin:0 auto;
    text-align: center;
}
div.layout-main #logo-main img{
    transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}
div.layout-main #logo-main a:hover img{
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
}

div.nav-group {
    height: 100%;
    width:inherit;
}

div.nav-group ul{
    height: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.nav-group li{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.nav-group .nav-button{
    text-decoration: none;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    position: relative;
}
div.nav-group .nav-button:hover{
    background-color: rgba(65,105,225,0.1);
}
div.nav-group .selected{
    background-color: rgba(65,105,225,0.1);
}

div.nav-group .nav-button i{
    margin: 15px 0 0 0 !important;
    color: lightseagreen !important;
    font-size:18px !important;
}

div.loading {
    position: absolute;
    z-index: 9999;
    margin:0 auto;
    display: inline-block;
    left: calc(50% - 32px);
    top:50%;
}
div.loading img{

}
/********* 팝업 영역 ***********/
div.common-alert{
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 50px;
    padding: 10px;
    width: auto;
    max-width: 300px;
    transition: all .3s ease-in-out;
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 10px 10px 1px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    cursor: pointer;
}
div.common-alert span{
    font-size: 14px;
    display: flex;
    margin:0 auto;
}
div.common-alert i{
    color: #000 !important;
    font-size: 20px !important;
    margin: 0 10px 0 0 !important;
}
div.common-alert:hover{
    background-color: rgba(255,255,255,1);
}


/********** 콘텐츠 영역 **********/
div.content{
    display: flex;
    flex: 1;
    z-index: 0;
    margin-top:40px;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
}

div.content .app-wrapper{
    margin-left: 70px;
    display: flex;
    flex: 1;
}


/********** 툴팁 ****************/

[tooltip-top]:hover {
     position: relative;
 }

[tooltip-top]:after {
    -webkit-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    transition: top .5s ease-in-out, opacity .3s ease-in-out;

    background-color: royalblue;

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #FFFFFF;
    font-size: 12px;
    padding: 7px 12px;
    position: absolute;
    line-height: initial !important;
    width: auto !important;
    min-width: 50px !important;
    max-width: 300px !important;
    word-wrap: break-word !important;
    white-space:nowrap;
    margin:0 auto !important;

    z-index: 9999;

    opacity: 0;
    top: -90%;
    left: 9999px;
    content: attr(tooltip-top);
}

[tooltip-top]:hover:after {
    top: -120%;
    left: 0;
    opacity: .7;
}

[tooltip-bottom]:hover {
    position: relative;
}

[tooltip-bottom]:after {
    -webkit-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: top .5s ease-in-out, opacity .3s ease-in-out;
    transition: top .5s ease-in-out, opacity .3s ease-in-out;

    background-color: royalblue;

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #FFFFFF;
    font-size: 12px;
    padding: 7px 12px;
    position: absolute;
    line-height: initial !important;
    width: auto !important;
    min-width: 50px !important;;
    max-width: 300px !important;
    word-wrap: break-word !important;
    margin:0 auto !important;
    white-space:nowrap;

    z-index: 9999;

    opacity: 0;
    top: 90%;
    left: 9999px;
    content: attr(tooltip-bottom);
}

[tooltip-bottom]:hover:after {
    top: 120%;
    left: 0;
    opacity: .7;
}


[tooltip-right]:hover {
    position: relative;
}

[tooltip-right]:after {
    -webkit-transition: left .5s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: left .5s ease-in-out, opacity .3s ease-in-out;
    transition: left .5s ease-in-out, opacity .3s ease-in-out;

    background-color: royalblue;

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.1);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #FFFFFF;
    font-size: 12px;
    padding: 7px 12px;
    position: absolute;
    line-height: initial !important;
    width: auto !important;
    min-width: 50px !important;;
    max-width: 300px !important;
    word-wrap: break-word !important;
    margin:0 auto !important;
    white-space:nowrap;

    z-index: 9999;

    opacity: 0;
    top: 9999px;
    left: 90%;
    content: attr(tooltip-right);
}

[tooltip-right]:hover:after {
    top: 0;
    left: 120%;
    opacity: .7;
}