<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>픽톡(PicTalk) - 끝봄의 이미지 채팅</title>

    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <!-- 헬로우 월드 -->
    <div style="display: inherit; text-align: center;">
        <img src="img/logo/logo_endspring.png" alt="logo_team" height="120"/>
        <h1>안녕하세요</h1>
        <h1>반갑습니다</h1>
        <h1>코딩합시다</h1>
        <br />
        <br />
        <p>박경호 | 송치민 | 최지은</p>
    </div>
    <!-- 헬로우 월드 종료 -->
</body>
</html>