<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>account info</title>

    <script>
        $(document).ready(function() {
            $('#table-info').DataTable();
        } );

        $(document).ready(function() {
            $('#report-info').DataTable();
        } );
    </script>

    <style>
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
            color: #fff ;
            background-color: #58ccff;
            border-color: #dee2e6 #dee2e6 #fff;
        }
    </style>
</head>
<body>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation" style="width:50%;">
        <a class="nav-link active" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="true" style="text-align: center;">Log</a>
    </li>
    <li class="nav-item" role="presentation" style="width:50%;">
        <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false" style="text-align: center;">Report</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="log-tab">

        <div style="background-color: white; border-radius: 10px; padding: 10px; min-width: 750px; width: 780px;">
            <table id="table-info" class="table table-striped table-bordered table-hover text-center">
                <thead>
                <tr>
                    <th>No</th>
                    <th>채팅방</th>
                    <th>내용</th>
                    <th>날짜</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="logReport in logReports">
                    <td>{{logReport.no}}</td>
                    <td>{{logReport.roomName}}</td>
                    <td>{{logReport.content}}</td>
                    <td>{{logReport.logDate}}</td>
                    <td>{{logReport.remark}}</td>
                </tr>
                </tbody>
                <!--            <tfoot>-->
                <!--            </tfoot>-->
            </table>
        </div>

    </div>

    <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">

        <div style="background-color: white; border-radius: 10px; padding: 10px; min-width: 750px; width: 780px;">
            <table id="report-info" class="table table-striped table-bordered table-hover text-center">
                <thead>
                <tr>
                    <th>No</th>
                    <th>채팅방</th>
                    <th>내용</th>
                    <th>신고자</th>
                    <th>날짜</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>픽톡</td>
                    <td>photo_1</td>
                    <td>송치민_1</td>
                    <td>2020-07-09 20:00</td>
                    <td>버튼</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>픽톡</td>
                    <td>photo_1</td>
                    <td>송치민_1</td>
                    <td>2020-07-09 20:00</td>
                    <td>버튼</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>픽톡</td>
                    <td>photo_1</td>
                    <td>송치민_1</td>
                    <td>2020-07-09 20:00</td>
                    <td>버튼</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>픽톡</td>
                    <td>photo_1</td>
                    <td>송치민_1</td>
                    <td>2020-07-09 20:00</td>
                    <td>버튼</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>픽톡</td>
                    <td>photo_1</td>
                    <td>송치민_1</td>
                    <td>2020-07-09 20:00</td>
                    <td>버튼</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>픽톡</td>
                    <td>photo_1</td>
                    <td>송치민_1</td>
                    <td>2020-07-09 20:00</td>
                    <td>버튼</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>픽톡</td>
                    <td>photo_1</td>
                    <td>송치민_1</td>
                    <td>2020-07-09 20:00</td>
                    <td>버튼</td>
                </tr>
                </tbody>
                <!--            <tfoot>-->
                <!--            </tfoot>-->
            </table>
        </div>

    </div>
</div>

</body>
</html>