<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_main">

<th:block layout:fragment="title">픽톡(PicTalk) | 채팅</th:block>
<th:block layout:fragment="js">
    <!-- BootStrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</th:block>
<th:block layout:fragment="js-end">
    <script src="js/chat.js"></script>
    <script src="js/chat_modal.js"></script>
</th:block>

<th:block layout:fragment="css">
    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">
    <link rel="stylesheet" href="css/chat.css"/>
</th:block>

<section layout:fragment="content" ng-controller="chatController" class="content-chat-container">
    <div class="chat-sidebar-container">
        <div class="chat-sidebar-header">
            <h3>오픈 채팅방</h3>
            <span class="chat-sidebar-button" ng-click="onClickAddChatRoom()"><i class="fas fa-plus"></i></span>
            <div id="chat-room-search">
                <input class="input-search" type="text" placeholder="방 검색..."/>
                <div id="chat-room-tags">
                    <span>인기 태그</span>
                    <a>#tag1</a>
                </div>
            </div>
        </div>
        <div class="chat-sidebar-content-container">
            <div id="chat-room" class="chat-sidebar-content ng-cloak" ng-repeat="room in rooms" ng-click="connect($event, room)">
                <img ng-src="/img/thumbnail_example.png" alt="thumbnail" class="img-circle"/>
                <span id="chat-room-info">
                    <h5 ng-bind="room.title"></h5><span>({{room.member}} / {{room.max}})</span>
                    <p ng-bind="room.description"></p>
                </span>

                <div class="chat-room-detail">
                    <p>입장하기</p>
                </div>
            </div>
        </div>
        <div class="chat-sidebar-footer">

        </div>
    </div>

    <div id="chat-container">
        <div id="chat-page" class="hidden">
            <div class="chat-container">
                <div class="chat-header">
                    <img src="/img/thumbnail_example.png"/>
                    <div class="chat-header-info">
                        <h2>{{currentRoom.title}}</h2>
                        <p>{{currentRoom.description}}</p>
                    </div>

                    <div class="chat-header-menu">
                            <span ng-click="onClickToggleMenu()">
                                <i class="fas fa-bars"></i>
                            </span>
                    </div>
                </div>
                <div class="connecting">
                    연결중...
                </div>
                <ul id="messageArea">

                </ul>
                <form id="messageForm" name="messageForm">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="메시지 입력..." autocomplete="off"/>

                        <div class="form-buttons">
                            <button type="button" ng-click="" class="circle">
                                <i class="fas fa-paperclip"></i>
                            </button>
                            <button type="submit" ng-click="sendMessage($event)" class="circle">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="chat-sidebar-container" id="chat-menu">
        <div class="chat-sidebar-header">
            <h3>채팅방 정보</h3>
        </div>
        <div class="chat-sidebar-content-container">
            <div class="chat-sidebar-content" id="chat-profile">
                <img src="/img/thumbnail_example.png"/>
                <h4>사용자 닉네임</h4>
            </div>
            <div class="chat-sidebar-content" id="chat-user-info">
                <h6>참여자 정보</h6>
                <ul class="chat-user-profile">
                    <li ng-repeat="participant in chatRoom.users">
                        <img src="/img/logo/logo_endspring.png"/>
                        <span>participant.name</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chat-sidebar-footer">
                <button type="button" class="square" ng-click="onClickExitChatRoom()">
                    <i class="fas fa-door-open"></i>
                </button>
        </div>
    </div>
</section>