<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<th:block layout:fragment="title">픽톡(PicTalk) | 관리자</th:block>
<th:block layout:fragment="js">
    <!--추가 JS -->
    <script src="/management/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!--추가 JS 끝-->
</th:block>
<th:block layout:fragment="css">
    <!--추가 CSS -->
    <link rel="stylesheet" href="/management/css/management.css"/>
    <!--추가 CSS 끝-->
</th:block>

<section layout:fragment="content" ng-controller="dashboardCtrl" class="manager-layout">

<div class="app-wrapper">
        <!-- Start Content-->
        <div class="manager">

            <!-- start page title -->
            <div class="manager-title">
                <div id="title-font">대시보드</div>
            </div>


<!--            <div class="mr-3 mb-3" style="text-align: right; poi">-->
<!--                <img src="/management/img/refresh-button.png" style="width: 20px; height: 20px;">-->
<!--            </div>-->

            <div class="manager-content">
                <div class="manager-box-content">

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <!--드롭박스 추가-->
                            <h4 class="header-title mt-0 mb-4">Number of connections</h4>

                            <div class="widget-box-1">
                                <div class="widget-detail-2 text-left">
                                    <span class="badge badge-danger badge-pill float-right mt-3">{{board[0].percent}}% </span>
                                    <h1 class="font-weight-normal mb-1"> {{board[0].count}} </h1>
                                    <p class="text-muted mb-1">접속</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <!--드롭박스 추가-->
                            <h4 class="header-title mt-0 mb-4">Number of accounts</h4>

                            <div class="widget-box-1">
                                <div class="widget-detail-2 text-left">
                                    <span class="badge badge-success badge-pill float-right mt-3">{{board[1].percent}}% </span>
                                    <h1 class="font-weight-normal mb-1"> {{board[1].count}} </h1>
                                    <p class="text-muted mb-1">계정</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <!--드롭박스 추가-->
                            <h4 class="header-title mt-0 mb-4">Number of chat rooms</h4>

                            <div class="widget-box-1">
                                <div class="widget-detail-2 text-left">
                                    <span class="badge badge-success badge-pill float-right mt-3">{{board[2].percent}}% </span>
                                    <h1 class="font-weight-normal mb-1"> {{board[2].count}} </h1>
                                    <p class="text-muted mb-1">채팅방</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="card-box">
                            <!--드롭박스 추가-->
                            <h4 class="header-title mt-0 mb-4">Number of photos</h4>

                            <div class="widget-box-1">
                                <div class="widget-detail-2 text-left">
                                    <span class="badge badge-success badge-pill float-right mt-3">{{board[3].percent}}% </span>
                                    <h1 class="font-weight-normal mb-1"> {{board[3].count}} </h1>
                                    <p class="text-muted mb-1">사진</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="manager-box-content">
                    <div class="col-xl-8">
                        <div class="card-box">
<!--                            <h4 class="header-title mt-0">차트1</h4>-->

                            <div class="widget-chart text-center">
                                <div class="dashboard-chart" style="" >

                                    <canvas id="myChart"></canvas>

                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-4">
                        <div class="card-box">
<!--                            <h4 class="header-title mt-0">차트2</h4>-->

                            <div class="widget-chart text-center">
                                <div class="dashboard-chart" style="" >

                                    <canvas id="myPieChart" style="margin-bottom: 35px;"></canvas>

                                    <canvas id="myPieChart2"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>

<!--                    <div class="col-xl-4">-->
<!--                        <div class="card-box">-->
<!--                            <h4 class="header-title mt-0">차트3</h4>-->

<!--                            <div class="widget-chart text-center">-->
<!--                                <div class="dashboard-chart" style="" >-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>

            </div>

        </div>
</div>

</section>

