<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_main">

<th:block layout:fragment="title">픽톡(PicTalk) | 관리자</th:block>
<th:block layout:fragment="js">
    <!--추가 JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--    <link rel="stylesheet" type="text/css" href="/management/js/app.min.js">-->

    <!--추가 JS 끝-->
</th:block>
<th:block layout:fragment="css">
    <!--추가 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" href="/management/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="/management/css/app.min.css">-->
    <link rel="stylesheet" href="/management/css/management.css"/>
    <!--추가 CSS 끝-->
</th:block>

<section layout:fragment="content" style="background-color: lightgray; width: 100%; height: 100%;">

    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3" style="margin-top: 30px;">
                <h2 class="my-0 mr-md-auto font-weight-normal">대시보드</h2>
                <div class="my-2 my-md-0">
                    <a class="p-2 mr-md-3 text-dark" href="#">
                        <img src="/management/img/alarm_icon.png" class="rounded-circle-profile">
                    </a>
                    <a class="p-2 mr-md-3 text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/management/img/profile.png" class="rounded-circle-profile"> 치민
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">마이페이지</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">로그아웃</a>
                    </div>
                </div>
<!--                <a class="btn btn-outline-primary" href="#">Sign up</a>-->
            </div>

            <!-- start page title -->
            <div class="mr-3 mb-3" style="text-align: right;">
                <img src="/management/img/refresh-button.png" style="width: 20px; height: 20px;">
            </div>
            <!-- end page title -->

            <div class="row">

                <div class="col-xl-3 col-md-6">
                    <div class="card-box">
                        <!--드롭박스 추가-->
                        <h4 class="header-title mt-0 mb-4">Number of connections</h4>

                        <div class="widget-box-1">
                            <div class="widget-detail-2 text-left">
                                <span class="badge badge-danger badge-pill float-right mt-3">15% </span>
                                <h1 class="font-weight-normal mb-1"> 10000 </h1>
                                <p class="text-muted mb-1">접속</p>
                            </div>

                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <div class="card-box">
                        <!--드롭박스 추가-->
                        <h4 class="header-title mt-0 mb-4">Number of accounts</h4>

                        <div class="widget-box-1">
                            <div class="widget-detail-2 text-left">
                                <span class="badge badge-success badge-pill float-right mt-3">30% </span>
                                <h1 class="font-weight-normal mb-1"> 15000 </h1>
                                <p class="text-muted mb-1">계정</p>
                            </div>

                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <div class="card-box">
                        <!--드롭박스 추가-->
                        <h4 class="header-title mt-0 mb-4">Number of chat rooms</h4>

                        <div class="widget-box-1">
                            <div class="widget-detail-2 text-left">
                                <span class="badge badge-success badge-pill float-right mt-3">32% </span>
                                <h1 class="font-weight-normal mb-1"> 8451 </h1>
                                <p class="text-muted mb-1">채팅방</p>
                            </div>

                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <div class="card-box">
                        <!--드롭박스 추가-->
                        <h4 class="header-title mt-0 mb-4">Number of photos</h4>

                        <div class="widget-box-1">
                            <div class="widget-detail-2 text-left">
                                <span class="badge badge-success badge-pill float-right mt-3">10% </span>
                                <h1 class="font-weight-normal mb-1"> 50000 </h1>
                                <p class="text-muted mb-1">사진</p>
                            </div>

                        </div>
                    </div>
                </div><!-- end col -->

            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-xl-4">
                    <div class="card-box">
                        <h4 class="header-title mt-0">차트1</h4>

                        <div class="widget-chart text-center">
                            <div class="dashboard-chart" style="height: 250px;" >

                            </div>
                        </div>
                    </div>
                </div><!-- end col -->


                <div class="col-xl-4">
                    <div class="card-box">
                        <h4 class="header-title mt-0">차트2</h4>

                        <div class="widget-chart text-center">
                            <div class="dashboard-chart" style="height: 250px;" >

                            </div>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-xl-4">
                    <div class="card-box">
                        <h4 class="header-title mt-0">차트3</h4>

                        <div class="widget-chart text-center">
                            <div class="dashboard-chart" style="height: 250px;" >

                            </div>
                        </div>
                    </div>
                </div><!-- end col -->

            </div>
            <!-- end row -->


        </div> <!-- container-fluid -->

    </div>

</section>


<!--<ul class="list-inline chart-detail-list mb-0">-->
<!--    <li class="list-inline-item">-->
<!--        <h5 style="color: #ff8acc;"></i>남</h5>-->
<!--    </li>-->
<!--    <li class="list-inline-item">-->
<!--        <h5 style="color: #5b69bc;"></i>여B</h5>-->
<!--    </li>-->
<!--</ul>-->


