<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_manager">

<th:block layout:fragment="title">픽톡(PicTalk) | 관리자</th:block>
<th:block layout:fragment="js">
    <script src="/management/js/file.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            $(".detail>a").click(function(){
                var submenu = $(this).next("ul");

                if( submenu.is(":visible") ){
                    submenu.slideUp();
                    $("#tab").text("▼");
                }else{
                    submenu.slideDown();
                    $("#tab").text("▲");
                }
            });
        });
    </script>

</th:block>
<th:block layout:fragment="css">
    <!--추가 CSS -->
    <link rel="stylesheet" href="/management/css/management.css"/>

    <style>
        .detail a{cursor:pointer;}
        .detail .hide{display:none;}
    </style>
    <!--추가 CSS 끝-->
</th:block>

<section layout:fragment="content" ng-controller="fileCtrl" class="manager-layout">

    <div class="manager">

        <div class="manager-title">
            <div id="title-font">파일관리</div>
        </div>

        <div class="manager-content" style="display: flex;">

            <div class="manager-sidebar">

                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="background-color: white; border-radius: 0.25rem;">
                        <a class="nav-link active" id="v-pills-images-tab" data-toggle="pill" href="#v-pills-images" role="tab" aria-controls="v-pills-images" aria-selected="true" style="font-size: 20px;">Images</a>
                        <a class="nav-link" id="v-pills-trash-tab" data-toggle="pill" href="#v-pills-trash" role="tab" aria-controls="v-pills-trash" aria-selected="false" style="font-size: 20px;">Trash</a>
                    </div>

            </div>


            <div class="manager-side-container">

                <div class="tab-content" id="v-pills-tabContent">

                    <!--사진 Images Tab-->
                    <div class="tab-pane fade show active" id="v-pills-images" role="tabpanel" aria-labelledby="v-pills-images-tab">
                        <!--테스트-->
                        <div style="width: 270px; height: 40px;">
                            <h5 class="file-title-hidden" style="height: 30px;" ng-show="images_state !== 'groups'"><a href="#" ng-click="images_button()">Images</a> > <a>{{images_state}}</a></h5>
                        </div>

                        <div class="row" ng-show="images_state === 'groups'">
                            <div class="cxl-3 cmd-6" ng-repeat="room in groups">
                                <div class="group-card-box file-zoom-effect">
                                    <div>
                                        <input type="checkbox" class="checkbox-size" ng-checked="leader">
                                        <i class="fas fa-bars" style="float: right;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

                                        <div class="dropdown-menu" style="min-width: 7rem;">
<!--                                            <a class="dropdown-item" href="#">etc</a>-->
<!--                                            <div class="dropdown-divider"></div>-->
                                            <a class="dropdown-item" href="#" ng-click="room_delete(room)">삭제</a>
                                        </div>
                                    </div>

                                    <div class="photo-group" style="text-align: center;" ng-click="chat_group_content(room)">
                                        <img ng-src="{{room.imagePath}}" class="group-profile-preview"/>
                                    </div>

                                    <div class="photo-group-detail text-center">
                                        <h4 class="font-weight-normal mb-1" id="file-title-hidden"> {{room.title}} </h4>
                                        <p class="text-muted mb-1">타입/용량</p>
                                    </div>


                                    <div class="detail" style="list-style: none; text-align: center;">
                                        <a type="button" id="tab">▼</a>
                                        <ul class="hide" style="list-style: none; text-align: left; padding:0; margin: 0;">
                                            <li>
                                                방장 :
                                            </li>
                                            <li>
                                                정원 :
                                            </li>
                                            <li>
                                                생성일 :
                                            </li>
                                            <li>
                                                설명 :
                                            </li>
                                            <li>
                                                공개여부 :
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="images_state !== 'groups'">
                            <div class="cxl-3 cmd-6" ng-repeat="image in images">
                                <div class="group-card-box file-zoom-effect">
                                    <div>
                                        <input type="checkbox" class="checkbox-size">
                                        <i class="fas fa-bars" style="float: right;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

                                        <div class="dropdown-menu" style="min-width: 7rem;">
                                            <a class="dropdown-item" href="#" ng-click="image_delete(image)">삭제</a>
                                        </div>
                                    </div>

                                    <div class="photo-group" style="text-align: center;">
                                        <img ng-src="{{image.imagePath}}" class="group-profile-preview"/>
                                    </div>

                                    <div class="photo-group-detail text-center">
                                        <h5 class="font-weight-normal mb-1" id="file-title-hidden"> {{image.title}} </h5>
                                        <p class="text-muted mb-1">사용자아이디<br/>신고횟수</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div style="display: flex;">
                            <input ng-model="leader" type="checkbox" style="width: 20px; height: 20px; margin-top: 5px; margin-right: 5px;">
                            <button class="btn btn-outline-danger btn-sm">삭제</button>
                        </div>
<!--                        <foot aria-label="Page navigation example">-->
<!--                            <ul class="pagination justify-content-center">-->
<!--                                <li class="page-item disabled">-->
<!--                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
<!--                                </li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                <li class="page-item">-->
<!--                                    <a class="page-link" href="#">Next</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </foot>-->

<!--                        <div class="pagination justify-content-center">-->
                            <foot aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" ng-class="{'disabled' : currentPage==1}">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li ng-repeat="n in range(totalItems)" class="page-item" ng-click="currentPageEvent(n)"><a class="page-link">{{n}}</a></li>
                                    <li class="page-item" ng-class="{'disabled' : currentPage == endPage}">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </foot>
<!--                        </div>-->

                    </div>



                    <!--휴지통 Trash Tab-->
                    <div class="tab-pane fade" id="v-pills-trash" role="tabpanel" aria-labelledby="v-pills-trash-tab">
                        <!--테스트-->
                        <div style="width: 270px; height: 40px;">
                            <h5 class="file-title-hidden" style="height: 30px;" ng-show="trash_state !== 'groups'"><a href="#" ng-click="">Trash</a> > <a>{{images_state}}</a></h5>
                        </div>

                        <div class="row">
                            <div class="cxl-3 cmd-6" ng-repeat="trash in rooms_trash">
                                <div class="group-card-box file-zoom-effect">
                                    <div>
                                        <input type="checkbox" class="checkbox-size">
                                        <i class="fas fa-bars" style="float: right;"></i>
                                    </div>

                                    <div class="photo-group" style="text-align: center;">
                                        <img ng-src="/chat/img/image_example.jpg" class="group-profile-preview">
                                    </div>

                                    <div class="photo-group-detail text-center">
                                        <h4 class="font-weight-normal mb-1" id="file-title-hidden"> {{trash.title}} </h4>
                                        <p class="text-muted mb-1">타입/용량</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <foot aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </foot>


                    </div>

                </div>

            </div>

        </div>

    </div>

</section>