<!--로그, 신고 모달창-->

    <div class="modal-header">
        <h5 class="modal-title">상세 정보</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" style="width:33%;">
                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true" style="text-align: center;">Info</a>
            </li>
            <li class="nav-item" role="presentation" style="width:33%;">
                <a class="nav-link" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="false" style="text-align: center;">Log</a>
            </li>
            <li class="nav-item" role="presentation" style="width:33%;">
                <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false" style="text-align: center;">Report</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                정보수정, 정지, 삭제 등
            </div>
            <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-tab">
<!--                min-width: 750px; width: 780px;-->
                <div style="background-color: white; border-radius: 10px; padding: 10px;">
                    <table id="table-info" class="table table-striped table-bordered table-hover text-center">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>채팅방</th>
                            <th>내용</th>
                            <th>날짜</th>
                            <th>비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="log in logs">
                            <td>{{log.no}}</td>
                            <td>{{log.roomName}}</td>
                            <td>{{log.content}}</td>
                            <td>{{log.logDate}}</td>
                            <td>{{log.remark}}</td>
                        </tr>
                        </tbody>
                        <!--            <tfoot>-->
                        <!--            </tfoot>-->
                    </table>
                </div>

            </div>

            <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">

                <div style="background-color: white; border-radius: 10px; padding: 10px;">
                    <table id="report-info" class="table table-striped table-bordered table-hover text-center">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>채팅방</th>
                            <th>내용</th>
                            <th>신고내용</th>
                            <th>신고자</th>
                            <th>날짜</th>
                            <th>비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="report in reports">
                            <td>{{report.no}}</td>
                            <td>{{report.roomName}}</td>
                            <td>
                                <img class="zoom" ng-src="{{report.content}}">
                            </td>
                            <td>{{report.reportContent}}</td>
                            <td>{{report.userNo}}</td>
                            <td>{{report.reportDate}}</td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm">경고</button>
                            </td>
                        </tr>
                        </tbody>
                        <!--            <tfoot>-->
                        <!--            </tfoot>-->
                    </table>
                </div>

            </div>
        </div>



    </div>
    <div class="modal-footer">
    </div>



<!--.zoom {-->
<!--overflow: hidden;-->
<!--padding: 8% 10px;-->
<!--background-color: #fff;-->
<!--border: 1px solid #e5e5e5;-->
<!--box-shadow: 0px 0px 10px 0px #e5e5e5;-->
<!--box-sizing: border-box;-->
<!--border-radius: 10px;-->
<!--transition: transform .3s;-->
<!--width: 25%;-->
<!--height: 200px;-->
<!--margin: 2%;-->
<!--display:inline-block; /* 가로로 배치 */-->
<!--}-->
<!--.zoom:hover {-->
<!-- -ms-transform: scale(1.1);-->
<!-- -webkit-transform: scale(1.1);-->
<!--transform: scale(1.1);-->
<!--}-->
<!--.zoom img {-->
<!--width: 10%;-->
<!--}-->