<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_main">

<th:block layout:fragment="title">픽톡(PicTalk) | 마이페이</th:block>
<th:block layout:fragment="js">
    <!-- BootStrap JS -->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <script src="/mypage/js/mypage.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>-->

<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-resource.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>-->
<!--    <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />-->
    <script src="https://kit.fontawesome.com/5efb1d4301.js" crossorigin="anonymous"></script>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
</th:block>
<th:block layout:fragment="js-end">


</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/mypage/css/mypage.css"/>

</th:block>

<section layout:fragment="content" class="wrap" ng-controller="mypageCtrl">
<!--    <div class="chat-sidebar-container"></div>-->
    <nav th:replace="~{/fragment/nav_mypage :: nav}"></nav>
    <div class="app-wrapper">
<!--        <div class="left_wrap mypage-sidebar-container">-->
<!--            <div>-->
<!--                <ul class="nav nav-pills nav-stacked">-->
<!--                    <li role="presentation" id="personal" class=""  ng-class="{active: selected=='mypage'}"><a href="/mypage" ng-click="selected='personal'">정보</a></li>-->
<!--                    <li role="presentation" id="follow" class=""  ng-class="{active: selected=='follow'}" ><a href="/mypage/follow" ng-click="selected='follow'">팔로우</a></li>-->
<!--                    <li role="presentation" id="pictures" class=""  ng-class="{active: selected=='pictures'}" ><a href="/mypage/pictures" ng-click="selected='pictures'">사진 보관함</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
        <div class="wrap">
            <section ng-cloak ng-show="isSelectedNavBar(0)" th:replace="~{personal :: content-personal}"></section>
            <section ng-cloak ng-show="isSelectedNavBar(1)" th:replace="~{follow :: content-follow}"></section>
            <section ng-cloak ng-show="isSelectedNavBar(2)" th:replace="~{pictures :: content-pictures}"></section>
        </div>
    </div>
</section>

